.cartContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2.8rem;
    font-weight: 600;
    font-family: Arial;
    letter-spacing: -3px;
    width: 100%;
    flex: 1 1 auto;
}
#cartCheckout {
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #EEE;
    flex-grow: 0.5;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    transition: ease all 0.5s;
    height: 400px;
    gap: 20px;
    min-width: 300px;
}
#cartDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cartItem {
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 1px solid #EEE;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    transition: ease all 0.5s;
    flex-grow: 1;
}
.cartItem img {
    width: 100px;
    max-height: 80px;
}
.cartItem h2 {
    font-size: 1.4em;
    width: 300px;
    flex-wrap: wrap;
}