.itemDescription {
    display: flex;
    flex-direction: row;
    padding: 50px ;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.productDetails {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.itemDescription h1 {
    font-weight: 600;
}
.itemDescription h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}
.productImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    width: 500px;
}
.productImages img {
    flex-shrink: 2;
    width: 100px;
}

.productImages img:first-of-type {
    flex-basis: 100%;
}
.precio {
    font-size: 2rem;
    font-weight: 600;
    color: #37505C;
}
.brand {
    color: #333;
    font-weight: 600;
}
button {
    border: 0;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 10px;
    color: #1976d2;
    background-color: #1976d2;
    transition: ease all 0.2s;
    outline: 1px solid #1976d2;
    color: white;
    text-transform: uppercase;
  }

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.decrease {
    border-radius: 5px 0 0 5px;
    padding: 10px;
    color: #333;
    background-color: aliceblue;
}
.increase {
    border-radius: 0 5px 5px 0;
    padding: 10px;
    color: #333;
    background-color: aliceblue;
}
.quantity {
    padding: 10px;
}