#navbar {
  font-family: Arial, Helvetica, sans-serif;
}
#navbar a:hover {
  outline: 2px solid black 0 0 2px 0;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  padding: 20px;
  gap: 30px;
}

.activeNavLink {
  border-radius: 15px;
  background-color: #333;
}